//hemanthkumarreddypalle.euw-3.palantirfoundry.co.uk/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@god:registry=https://hemanthkumarreddypalle.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.artifacts.main.repository.ba93b9a1-bf75-4bc6-9f29-6bc3fdf2ae74/contents/release/npm/
